html {
  min-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #211698;
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button,
form h5 {
  margin: 20px 0;
}
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textatrea:focus:not([readonlt]) {
  border-color: #211698;
  box-shadow: none;
}
